@import '../../scss/_variables.scss';

.TitleContainer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}
.Ejercicio{
  font-size: $big-font-size;
}
.Name{
  font-size: $base-font-size;
}
