/*General*/
/*button*/
/*tipografia*/
/*Background*/
.TitleContainer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px; }

.Ejercicio {
  font-size: 23px; }

.Name {
  font-size: 16px; }
