//importo variables
@import "../../scss/_variables.scss";


.ContainerForm {
  display: grid;
  grid-template: 500px / 1fr 1f;
}


.FormOutput {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  margin:$form-margin;
  width: 300px;
  height: 350px;
  background: #FFFFFF;
  border-radius: $button-border-radius;
  border: $button-border;
  th {
    font-weight: initial;
    font-size: $small-font-size;
    float: left;
    margin-left: 10px;
  }
  p {
    font-size: $extra-small-font-size;
    margin: 10px auto 5px 10px;
    color: $strong-grey;
  }
}


input {
  border-radius: $button-border-radius;
  border: $button-border;
}


.Saludar {
  grid-column: 2/3;
  justify-self: end;
  width: 100px;
  font-size: $base-font-size;
  background: $primary-button-background-color;
  color: $primary-button-color;
  font-weight: bold;
  border-radius: $button-border-radius;
  border: none;
}
