/*General*/
$base-background-color: #EEEEEE;
$strong-grey: darken($base-background-color, 40%);
$light-grey: darken($base-background-color, 10%);

/*button*/
$primary-button-color: #FFFFFF;
$primary-button-background-color: #337AB7;
$button-border-radius: 5px;
$button-border: 2px solid $light-grey;


/*tipografia*/
$base-font: sans-serif;
$big-font-size: 23px;
$base-font-size: 16px;
$small-font-size: 14px;
$extra-small-font-size: 12px;


/*Background*/
$color-background: $base-background-color;
$border-radio: 12px;
$color-homeBorder: 1px solid black;

//form
$form-margin: 50px;











// /*Alert color.*/
// $color-alert: rgb(252,228,207) ;
// $color-error: rgb(218,79,73);
// $color-info: rgb(66,184,221);
// $color-success: rgb(91,173,91);
